*{
    margin: 0;
    padding: 0;
}

.content{
    width: 450px;
    margin: auto;
}
.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid gray;
    border-radius: 10px;
}
.screen{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    grid-column: 1/ span 4;
    height: 15vh;
    background-color: darkolivegreen;
    font-size: 2em;
    display: grid;
    justify-content: end;
    align-content: end;
}
.button{
    min-height: 4em;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 8px;
}